body {
background-color: black;
}

h1 {
color: #fff;
font-size: 100px;
font-family: Georgia, serif;
text-align: center;
}

video#main {
width: 900px;
height: auto;
}

video.aside {
width: 450px;
height: auto;
}

table {
background-color: #00FFFF;
}